/*原先样式重置*/
.animated {
  animation-duration: .2s;
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.el-col[data-v-35657914]{
  padding: 0!important;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content,
.is-current, .is-focusable, .is-checked {
  background: transparent !important;
}

.el-table, .el-table th, #eef1f6.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
  background: transparent !important;
}

.el-table::after, .el-table::before {

  background-color: transparent;

}
.el-input,.el-select {
  width: 144px ;
}

.el-date-editor.el-input {
  width: 140px !important;
}

.el-input--prefix .el-input__inner {
  padding-right: 0px !important;
}

.el-menu {
  border-right: none !important;
}

.el-tree {
  background: transparent !important;
}

.el-table tr {
  background: transparent !important;
}
a{
  text-decoration: none;
}


/*/treeTable/*/
.el-table [class*=el-table__row--level] .el-table__expand-icon {
  display: inline-block;
  width: 14px;
  vertical-align: middle;
  margin-right: 5px;
}

/*按钮*/
.el-button{
  padding:6px 10px!important;
}
.el-button:before{
  padding-right: 6px;
}


/*树形控件，去除父级的复选框*/
.el-tree .is-disabled {
  display: none;
}

.el-tree {
  background: transparent;
}
/*滚动条的滑块*/
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.content-scrollbar {
  border-radius: 5px;
  padding:0 0.5rem;
}

/*背景色设置*/
.bg-dark {
  background: #444444;
}

.bg-blue {
  background: #63b3e2;
}

.bg-red {
  background: #e02837;
}

.bg-green {
  background: #557e3b;
}

.bg-white {
  background: #fff;
}

/*字体颜色设置*/

.text-white {
  color: #fff !important;
}

.text-black {
   color: #000 !important;
 }
.text-red {
  color: #e02837 !important;
}
.text-green {
  color: #557e3b !important;
}
.text-blue{
  color:#63b3e2 !important;
}
/*左边框颜色设置 horizontal页面*/
.border-green {
  border-left: 5px solid #557e3b !important;
}

.border-red {
  border-left: 5px solid #e02837 !important;
}
.border-blue{
  border-left: 5px solid #63b3e2 !important;
}
/*kpi tree*/
.text-kpi-normal{
  color:#557e3b !important;
}
.text-kpi-danger{
  color: #e02837 !important;
}
.border-kpi-normal{
  border-left: 5px solid #557e3b !important;
}

.border-kpi-danger{
  border-left: 5px solid #e02837 !important;
}
  /*图标设置*/

.fas:before {
  font-weight: 900 !important;
}

.fal:before {
  font-weight: 300 !important;
}

/*progressbar.js甜甜圈*/
.progressbar-text {
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.progressbar-text > span {
  display: block;
}

.progressbar-text > span.span-top {
  line-height: 1.3;
}

.progressbar-text > span.span-bottom {
  line-height: 1.3;
}

.progressbar-text > span.span-line {
  height: 1px;
  margin: 0 auto;
}

.progressbar-label-right, .progressbar-label-left, .progressbar-label-bottom, .progressbar-label-top {
  display: block;
  position: absolute;
  line-height: 1;
}

.progressbar-label-right {
  transform: rotate(-90deg);
}

.progressbar-label-left {
  transform: rotate(90deg);
}




/*ibox*/

.ibox {
  padding-top: 5px !important;
  font-weight: 500;
  box-shadow: none !important;
  margin-top:0.5rem;
}
.ibox-margin{
  margin-right:0.5rem
}
.ibox .ibox {
  border: none;
  padding: 10px 20px 10px 20px !important;
  background: transparent;
}
.ibox-item{
  height:6vmin;
  padding: 0 0.5vmin 0 ;
}
.ibox .ibox-title{
  margin: 5px 0 5px;
  min-height:40px;
}
.ibox-title h3, .ibox-title span {
  vertical-align: middle;
}
.ibox-title h3 i {
  margin-right: 5px;
}
.ibox .ibox-content{
  padding: 0 20px 10px;
}

/*topBar*/
.topBar {
  margin: 0rem -0.5rem 0 -0.5rem;
  padding: 0.4rem 0.5rem;
  height:40px;
}
.topBar-margin-none{
  margin-bottom: 0;
  padding-top:0 ;
  padding-bottom: 0;
}

/*side-menu*/
.el-menu-style.el-menu>li:not(.is-opened){
  border-left:2px solid transparent;
}
.el-submenu__icon-arrow.el-icon-arrow-down{
  font-weight: bolder;
}
.main-sidebar,
.el-menu-style,
.el-menu-style .el-menu,
.vue-scrollbar{
  background-color: #252a2f !important;
}
.el-menu-style.el-menu>li.el-menu-sub.el-submenu.is-opened>ul,
.el-menu-style.el-menu>li.el-menu-sub.el-submenu.is-opened>ul li,
.el-menu-style.el-menu>li.el-menu-sub.el-submenu.is-opened>div,
.el-submenu__title:hover,
.el-menu-item:focus, .el-menu-item:hover {
  background:#191d21!important;
}

/*header*/
.main-header {
  background: #252a2f;
  border-bottom: 1px solid #191d21;
}
.el-dropdown-menu .header-pic p,
.el-dropdown, .main-header a,.el-breadcrumb__inner,
.navbar-custom-menu .el-radio__label {
  color:#fff !important;
}

.main-header.closeLogo .sidebar-toggle,
.main-header .navbar .sidebar-toggle:hover,
.navbar-dropdown.el-dropdown:hover

{
  background: #191d21 !important;
}



