$tree: v-tree;
.#{$tree}__container {
  width: 100%;
  height: 100%;
}

.#{$tree}--grabbable {
  cursor: move;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.#{$tree}__link-base {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.#{$tree}__node-base {
  cursor: default;
  &:hover {
    .#{$tree}__collapse-icon {
      opacity: 1;

      circle {
        transform: scale(1);
      }
    }
  }
}

.#{$tree}__collapse-icon {
  cursor: default;
  //opacity: 0;
  transition: all linear 0.3s;

  circle {
    //stroke: rgb(106, 106, 106);
    fill: #fff;
    stroke-width: 2px;
    transform: scale(1);
    cursor: pointer;
  }

  line, polyline {
    stroke: #ccc;
    stroke-width: 2px;
    cursor: pointer;
  }
}
.v-tree__collapse-icon-stroke{
  stroke: #ccc;
}
